body
{
    background-color: #2E3440;
}

p, a
{
    font-family: "SelawikRegular";
}

h1, h2, h3
{
    font-family: "SelawikBold";
}

p#jsWarning
{
    margin: 0px;
    color: #D08770;
    font-size: x-large;
}

hr#jsWarningSeparator
{
    border: dotted;
}

#main
{
    margin: 40px 40px 40px 40px;
}

img#menuBarImage
{
    vertical-align: bottom;
    height: 100px;
}

#titleThingy
{
    display: inline-block;
}

#navBar
{
    display: inline-block;
}

h1#mainTitle
{
    margin: 0px 0px 0px 10px;
    display: inline;
    font-style: bold;
    color: #C1DFFF;
}

p#mainSubtitle
{
    margin: 0px 0px 0px 10px;
    padding-bottom: 2px;
    font-size: 20px;
    color: #95ACC5;
}

hr#menuBarSeparator
{
    border: none;
    height: 1px;
    color: #95ACC5;
    background-color: #95ACC5;
    margin: 0px 0px 0px 0px;
}

h1#construct
{
    color: #D08770;
    margin-top: 100px;
    text-align: center;
}
